@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'material-icons/iconfont/material-icons.css';

:root {
    --indigo-600: rgb(79 70 229);
    --background-black: rgb(0 0 0 / 0.3);
    --gray-800: #1f2937;
    --gray-500: #6b7280;
}

* {
    color: white;
}

.home-item {
    text-align: center;
    width: 33%;

    &:hover > * {
        color: var(--indigo-600);
    }
}

.data-wrapper {
    background-color: var(--background-black);
}

ol.teamList {
    display: grid;
    grid-template-columns: repeat(auto-fit, 16rem);
    justify-content: space-between;
    gap: 1.5rem;
    padding: 6rem 3rem;

    li img {
        width: 8rem;
        height: 8rem;
    }
}

.large {
    font-size: 4rem;
    width: 4rem;
    height: 4rem;
}

header[role='banner'] {
    background-image: url("../../public/images/pancho.jpg");
    background-position: center;
    text-align: center;
    background-attachment: fixed;
    background-size: cover;
    border-bottom-width: 4px;
    border-color: var(--indigo-600);
}

button.material-button:hover {
    color: var(--indigo-600);
}

.createForm {
    padding: 6rem 12rem;
    margin-top: 6rem;
    background: var(--background-black);
    border-radius: 0.625rem;

    label {
        display: block;
        font-size: 1.2rem;
    }

    input, select {
        $color: var(--gray-800);

        background: $color;
        border-radius: 0.375rem;
        width: 100%;
        border-color: $color;
        padding: 0.75rem 0.5rem;
        margin-bottom: 1rem;

        &:focus, &:hover {
            border-color: var(--indigo-600);
        }
    }

    button[type='submit'] {
        padding: 1rem 3rem;
        background: var(--gray-800);
        margin-left: auto;
        margin-right: auto;
        margin-top: 2rem;
        border-radius: 0.375rem;

        &:hover {
            background: var(--indigo-600);
        }
    }
}
